//DEVICES
$tablet: 768px;
$pc: 1024px;
//COLORS
$primaryColor: #857379 ;
// // $secondaryColor: #7aa7e4 ;
$secondaryColor: #f4877b;
//FONTS
$titleFont:'Parisienne', cursive;
$textFont:'Poppins', sans-serif;
$numberFont: 'Raleway', sans-serif;



@mixin forTablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}
@mixin forPc {
  @media all and (min-width: $pc) {
    @content;
  }
}