.countdownContainer {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .dateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.9rem;
    font-size: 14px;

    .numberDate {
      font-size: 25px;
      color: white;
      font-family: $titleFont;

      @include forTablet {
        font-size: 28px;
      }

    }

    .titleDate {
      font-size: 8px;
      color: white;
      transform: translateY(-5px);

      @include forTablet {
        font-size: 10px;
      }
    }

  }
}