.countdownContainer {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .dateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 14px;
    opacity: 0.8;

    @include forTablet {
      padding: 0.6rem;
    }

    .numberDate {
      font-size: 1.8rem;
      color: white;
      font-weight: 200;

      @include forTablet {
        font-size: 2rem;
        font-weight: 400;
      }

    }

    .titleDate {
      font-size: 8px;
      color: white;
      transform: translateY(-7px);

      @include forTablet {
        font-size: 10px;
      }
    }

  }
}