footer{
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 10px;
    padding-right: 4px;
    
    @include forTablet{
      font-size: 12px;
      
    }
    a {
      font-size: 10px;

      @include forTablet{
        font-size: 12px;
        
      }
    }

  }
}