.formContainer {
  width: 100%;
  background: url(../images/coctails.jpg) center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 6rem 0 5rem 0;
  color: #857379;

  .formBackground {
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.818);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .subtitle {
      max-width: 300px;
      padding: -1rem 0 -1rem 0;

      @include forTablet{
        max-width: 400px;
      }
    }
  }

}