.galeryContainer {
  width: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0 4rem 0;

  .hidden{
    display: none;
  }

  button {
    padding: 8px 10px 8px 10px;
    font-size: 12px;
    border: 1px solid #857379;
    cursor: pointer;

    &:hover{
      background-color: #857379;
      border: none;
      color: whitesmoke;
    }
  }

  //img container polaroid 
  .imgGaleryContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 800px;

    @include forTablet {
      grid-template-columns: 1fr 1fr;
    }

    @include forPc {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .imgContainer {
      width: 200px;
      height: 200px;
      margin: 22px;
      padding: 8px 8px 50px 8px;
      background-color: white;
      box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.2);
      transition: (all 0.3s);
      cursor: pointer;

      @include forTablet {

        &:hover {
          transform: scale(1.1) rotate(2deg);
        }
      }

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }

    }

  }

  //img container zoom ( no polaroid )

  // .imgGaleryContainer2 {
  //   display: flex;
  //   flex-wrap: wrap;
  //   align-items: center;
  //   justify-content: center;
  //   max-width: 800px;

  //   .imgContainer2 {
  //     width: 200px;
  //     height: 200px;
  //     margin: 22px;
  //     position: relative;
  //     overflow: hidden;
  //     box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.2);
  //     transition: (all 0.3s);
  //     cursor: pointer;

  //     img {
  //       transition: transform 0.3s ease;
  //       width: 200px;
  //       height: 200px;
  //       object-fit: cover;
  //     }

  //     img:hover {
  //       transform: scale(1.1);
  //       transition: transform 0.3s ease;
  //       opacity: 0.7;
  //     }
  //   }
  // }

}