.background {
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/header.jpg) 47% 77%;
  background-attachment: fixed;
  background-size: 475%;

  @include forTablet {
    background-size: cover;
    background-position: center;
  }

  &:before {
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-color: #494747a1;
    position: absolute;
    content: " ";
  }
}

.titleContainer {
  width: 90%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 3px solid white;
  z-index: 0;

  @include forTablet {
    padding:2rem 2rem 1.2rem 2rem ;

  }

  .date {
    color: white;
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 1px;
    padding-bottom: 7px;
    text-align: center;

    @include forTablet {
      font-size: 2rem;
    }
  }

  .hashtag {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 4px;
    background-color: white;
    border-radius: 2rem;
    padding: 6px 15px;
    color:$primaryColor;
  }

  .titleSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    margin-bottom: -19px;

    @include forTablet {
      flex-direction: row;
      margin-bottom: -3rem;
    }

    .title {
      color: white;
      font-size: 7rem;
      font-family: $titleFont;
      font-weight: 100;

      @include forTablet {
        font-size: 10rem;
      }
    }

    .and {
      margin: -1.5rem 0 -1.5rem 0;
      font-size: 5rem;

      @include forTablet {
        font-size: 8rem;
        padding: 0 0.7rem 0 1.7rem;
      }
    }
  }


}

.scrollContainer {
  position: absolute;
  bottom: 1.8rem;
  height: 35px;

  .icon {
    width: 50px;
    height: 25px;
    overflow: hidden;
    position: relative;
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    margin-top: 0;
    opacity: 0;

    &::before {
      content: "";
      box-sizing: border-box;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -36px;
      left: 0;
      border: solid 1px white;
      transform: rotate(45deg);
    }
  }

  @keyframes animation {
    0% {
      margin-top: 0;
      opacity: 0;
    }

    5% {
      margin-top: 0;
      opacity: 1;
    }

    25% {
      opacity: 1;
    }

    50% {
      margin-top: 24px;
      opacity: 0;
    }

    100% {
      margin-top: 24px;
      opacity: 0;
    }
  }
}