.locationContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #857379;
  text-align: center;
  padding: 4rem 0 4rem 0;

  .infoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
      padding: 2rem 0 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include forTablet {
        flex-direction: row;
        align-items: flex-start;
      }

      img {
        width: 15rem;
      }

      .infoTitle {
        font-family: $titleFont;
        text-transform: capitalize;
        padding: 2rem 0 1rem 0;
        font-size: 2rem;
        font-weight: 100;
        text-align: center;

        @include forTablet {
          padding: 0 0 1rem 0;
          font-size: 3.2rem;
        }
      }


      .textContainer {
        padding: 0 3rem 0 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include forTablet {
          width: 360px;
          padding: 0;
        }

        p {
          font-size: 0.9rem;
          padding-bottom: 0.6rem;
          text-align: justify;
        }

        .iconSection{
          display: flex;
                    
          .iconContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 7px 0 7px;
            color: $secondaryColor;        
            opacity: 0.8;
            
            p{
              font-size: 0.7rem;
              padding-top: 3px;
            }
          }
        }

      }

      .left {

        @include forTablet {
          padding-left: 3rem;
        }

      }

      .right {
        @include forTablet {
          padding-right: 3rem;
        }

      }
    }

    .reverse {
      @include forTablet {
        flex-direction: row-reverse;
      }

    

    }

    button {
      font-weight: bolder !important;
      font-size: 0.7rem !important;
      color: $secondaryColor !important;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      .locationIcon {
        padding-right: 4px;
        animation: jump 0.7s ease 2s infinite alternate;

        @keyframes jump {
          0% {
            -webkit-transform: scale(1.1, .9);
            transform: scale(1.1, .9);
          }

          50% {
            -webkit-transform: scale(.9, 1.1) translateY(-.2rem)
          }

          70% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }

    }

  }

}