.locationContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #857379;
  text-align: center;
  padding: 4rem 0 4rem 0;

  .infoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
      padding: 3rem 3.4rem 3.4rem 3.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include forTablet {
        flex-direction: row;
        align-items: flex-start;
      }

      img {
        width: 100%;

        @include forTablet {
          width: 50%;
        }

        @include forPc {
          width: 40%;
        }
      }

      .infoTitle {
        font-family: $titleFont;
        text-transform: capitalize;
        padding: 2rem 0 0 0;
        font-size: 4rem;
        font-weight: 100;
        text-align: center;

        @include forTablet {
          padding: 0 0 0.2rem 0;
        }
      }


      .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include forTablet {
          width: 50%;
          padding: 0;
        }

        @include forPc {
          width: 28%;
          padding: 0;
        }

        p {
          text-align: justify;
          padding-bottom: 0.8rem;
        }

        .iconSection {
          display: flex;


          .iconContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 7px 0 7px;
            color: $secondaryColor;
            opacity: 0.8;

            p {
              font-size: 0.8rem;
              font-weight: 600;
              padding-top: 5px;
              text-transform: uppercase;
              padding-bottom: 0.8rem;
            }

          }
        }

      }

      .left {
        @include forTablet {
          padding-left: 3rem;
        }

      }

      .right {
        @include forTablet {
          padding-right: 3rem;
        }

      }
    }

    .reverse {
      @include forTablet {
        flex-direction: row-reverse;
      }
    }

    .link {
      color: $secondaryColor !important;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      .locationIcon {
        padding-right: 4px;
        animation: jump 0.7s ease 2s infinite alternate;

        @keyframes jump {
          0% {
            -webkit-transform: scale(1.1, .9);
            transform: scale(1.1, .9);
          }

          50% {
            -webkit-transform: scale(.9, 1.1) translateY(-.2rem)
          }

          70% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }

    }

  }

  .map {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      padding-bottom: 2rem;
    }

    .mapInfoContainer {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;

      @include forTablet {
        grid-template-columns: 1fr 1fr;
      }

      @include forPc {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .mapText {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;

        h4 {
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $secondaryColor;
        }

        @include forTablet {
          padding: 0.1rem;
          padding-bottom: 1rem;
          width: 270px;
        }

      }
    }
  }
}